// Known presentations:

// #memberProfilePage https://community.weareweavers.org/member/maria.oah
// #memberSnapshot_ajaxBody https://community.weareweavers.org (hover member name)
// #comments https://community.weareweavers.org/db/speakers-bureau/record/maria-oah

// TODO: this isn't just badges anymore
body.h-custom-page {
  iframe {
    width: 100%;
  }
}

#pageContentContainer .circle-labels {
  // #pageContentContainer = specificity hack
  display: inline-flex;

  .h-member-badge {
    font-size: 0.9em;
    color: transparent;
    background-color: transparent;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    white-space: break-spaces;
    text-align: left;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    display: inline-flex;
    box-sizing: content-box;
    margin: 0;

    &:hover {
      background-color: #242464;
      width: auto;
      color: white;
      z-index: 1;
    }

    &::before {
      display: inline-block;
      content: '';
      height: 100%;
      aspect-ratio: 1 / 1;
      color: #f99b1c;
      margin-right: 0.2em; /* approx 1 space */

      // icons specified below
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

#memberProfilePage .circle-labels {
  // larger on Profile pages
  .h-member-badge {
    height: 3em;
    width: 3em;
    max-width: min-content;
  }
}

.h-member-badge::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_noicon.svg"); /* generic icon */
}

.h-member-badge-700797588612641986::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_locallead.svg");
}

.h-member-badge-700797588612641986::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_locallead.svg");
}

.h-member-badge-694322184511322440::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_circlesfacilitator.svg");
}

.h-member-badge-701079063187720697::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_welcomeweaver.svg");
}

.h-member-badge-722759207484894840::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_groupfacilgrad.svg");
}

.h-member-badge-722759207485754485::before {
  background-image: url("https://community.weavers.org/ws/wcbadge_groupfacilvol.svg");
}
