// community.weareweavers.org/pages/leadership only
body#custom_page_697841506500523231 {
  // funky way to target member names
  a[href*='//community.weareweavers.org/member/'] > p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  a[href*='//community.weareweavers.org/member/'] ~ img {
    aspect-ratio: 1/1;
    object-fit: fill;
    border-radius: 50%;
    border: 6px solid #2a2a68;
  }
}
