// TEMP DUE TO WEAVER NETWORK IMPORT TYPO
// (it <link>s to css.weaving.us/speakersbureau.css, probably my typo)
@import './weavernetwork';
// end TEMP

@import './colors';

@font-face {
  font-family: 'font_awesome_6_brandsregular';
  src: url('fonts/fa-brands-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// .BUTTONS, typically used for nav
body#custom_page_691929105708094807,                           // REQUEST FORM PAGE
body#custom_page_704599072821290814,                           // FAQ PAGE
body#databaseRecordsPage.h-page-with-database-speakers-bureau, // DIRECTORY
body#databaseRecordPage.h-page-with-database-speakers-bureau { // PROFILES
  .buttons {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    .button {
      padding: 0.5rem;
    }
    .fullwidth {
      flex-basis: 100%;
    }
  }
}

// DIRECTORY
body#databaseRecordsPage.h-page-with-database-speakers-bureau {
  .h-card-with-database-speakers-bureau {
    .card-byline,
    .card-meta {
      display: none;
    }
  }

  .h-post-box-with-database-speakers-bureau {
    .post-box-list-byline,
    .post-list-post-box-meta {
      display: none;
    }
  }

  #homePageButtons {
    display: flex;
    flex-direction: row;

    li {
      flex: 1;
      * {
        width: 100%;
        line-height: normal; // fix font-size 0 bug
      }
    }
  }

  // Trending & Following buttons
  #homePageButtons li#homePageButtons_2_buttonContainer,
  #homePageButtons li#homePageButtons_3_buttonContainer {
    display: none;
  }

  // Change "New" to "Gallery" in super icky way
  #homePageButtons li#homePageButtons_1_buttonContainer a {
    font-size: 0;
    &::after {
      font-size: .9rem; // match .button-group .button CS default
      content: 'Gallery';
    }
  }

  // ADVANCED SEARCH
  #searchRecordsForm {
    .form-label {
      color: $wv-blue;
      font-weight: bold;
    }

    .checkbox-list-items .form-control-item.checkbox-item.has-label {
      // display: block; // got too tall
      font-size: 1rem;
    }

    #searchRecordsForm_searcher_notWords_control,
    #tagFilterInput_control,
    #tagFilters,
    #memberFilterLabelSearchUserSearchInput_control,
    #memberFilterLabels,
    #postedBetweenDates,
    #customFieldInput691788177757829604_control, // website
    #customFieldInput691788177756972965_control, // title
    #customFieldInput691788177757829606_control, // LinkedIn
    #customFieldInput691788177757829605_control, // Twitter
    #customFieldInput691788177757829607_control, // Instagram
    #customFieldInput691788177757829608_control, // Facebook
    #customFieldInput702908818335910049_control, // My Story includes
    #customFieldInput691788177757829601_control, // Why I Weave includes
    #customFieldInput691788177769229404_control, // Speaking Experience includes
    #searchSortOptions_control
    {
      display: none;
    }

    #customFieldInput691788177756794195_control  // I Live In
    {
      .form-label::after {
        content: ' includes';
        font-style: italic;
      }
    }

    label[for=customFieldOptions694040710209437673] // Allows me to talk about
    {
      .form-label::after {
        content: 'Note: will return only speakers who match about ALL your selections. Try multiple searches if your work spans many topics.';
        font-style: italic;
        display: block;
        margin-top: 0.5em;
      }
    }
  }
}

// INDIVIDUAL PROFILE
body#databaseRecordPage.h-page-with-database-speakers-bureau {
  .buttons {
    justify-content: stretch;
  }
  h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .title-image-box {
    aspect-ratio: 1/1;

    .cropped-image-container,
    .title-image-container {
      height: 100%;
      border-radius: 50%;
      border: 12px solid #2a2a68;
    }
  }

  .h-record-field-label {
    color: #2a2a68;
    font-weight: bold;
  }

  .content-header {
    // hide last editor
    display: none;
  }

  .sb-profile {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;

      .basics {
        flex: 0;
        flex-basis: 300px;
      }

      .detail {
        flex: 1;
        margin-left: 1em;
      }
    }
  }

  // .h-record-field-row-for-TITLE,
  // .h-record-field-row-for-I_LIVE_IN {
  //   color: #2a2a68;
  //   font-weight: bold;
  //   margin: 0;
  // }


  .icon {
    font-family: "Font Awesome 5 Pro", font_awesome_6_brandsregular, "Font Awesome 5 Brands";
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    a {
      &::before {
        font-size: 26px;
        font-family: "Font Awesome 5 Pro", font_awesome_6_brandsregular, "Font Awesome 5 Brands";
      }
    }

    a::before {
      content: "\f0c1"; // link
    }

    a[href*="//twitter.com/"],
    a[href*="//www.twitter.com/"] {
      font-size: 0; // ick
      &::before {
        content: "\f081"; // square-twitter
      }
    }

    a[href*="//instagram.com/"],
    a[href*="//www.instagram.com/"] {
      font-size: 0; // ick
      &::before {
        content: "\e055"; // square-instagram
      }
    }

    a[href*="//linkedin.com/"],
    a[href*="//www.linkedin.com/"] {
      font-size: 0; // ick
      &::before {
        content: "\f08c"; // linkedin (no square variant)
      }
    }

    a[href*="//facebook.com/"],
    a[href*="//www.facebook.com/"] {
      font-size: 0; // ick
      &::before {
        content: "\f082"; // square-facebook
      }
    }

    a[href*="//tiktok.com/"],
    a[href*="//www.tiktok.com/"] {
      font-size: 0; // ick
      &::before {
        content: "\e07b"; // tiktok (no square variant as of 6.1)
      }
    }
  }
}
