@font-face {
  font-family: 'font_awesome_6_brandsregular';
  src: url('fonts/fa-brands-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

// DIRECTORY
body#databaseRecordsPage.h-page-with-database-speakers-bureau {

}

// INDIVIDUAL PROFILE
body#databaseRecordPage.h-page-with-database-speakers-bureau {
  .h-record-field-label {
    color: #2a2a68;
    font-weight: bold;
  }

  .content-header {
    // hide last editor
    display: none;
  }

  // field labels to hide
  .h-record-field-row-for-TITLE,
  .h-record-field-row-for-I_LIVE_IN,
  .h-record-field-row-for-HEADSHOT {
    .h-record-field-label {
      display: none;
    }
  }

  .h-record-field-row-for-I_LIVE_IN .h-record-field-value::before {
    content: "from ";
  }

  .h-record-field-row-for-TITLE,
  .h-record-field-row-for-I_LIVE_IN {
    color: #2a2a68;
    font-weight: bold;
    margin: 0;
  }

  div[itemtype="http://schema.org/Thing"] {
    // sloppy-but-works way to target fields
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1em;
    grid-template-areas: "sidebar main";
  }

  .h-record-field-row-for-TITLE,
  .h-record-field-row-for-I_LIVE_IN,
  .h-record-field-row-for-HEADSHOT,
  .h-record-field-row-for-LINK_TO_WEBSITE,
  .h-record-field-row-for-LINKEDIN,
  .h-record-field-row-for-TWITTER,
  .h-record-field-row-for-INSTAGRAM,
  .h-record-field-row-for-FACEBOOK,
  .h-record-field-row-for-LINKEDIN,
  .h-record-field-row-for-LINK_TO_WEBSITE,
  .h-record-field-row-for-MAILING_ADDRESS,
  .h-record-field-row-for-BEST_PHONE_NUMBER_TO_REACH_YOU,
  .h-record-field-row-for-EMAIL_ADDRESS {
    grid-column: 1;
  }

  .h-record-field-row-for-MY_STORY,
  .h-record-field-row-for-WHY_I_WEAVE_COMMUNITY,
  .h-record-field-row-for-A_SAMPLE_OF_MY_SPEAKING_EXPERIENCE {
    grid-column: 2;
  }

  .icon {
    font-family: font_awesome_6_brandsregular;
  }

  a[href*="//twitter.com/"],
  a[href*="//instagram.com/"],
  a[href*="//linkedin.com/"],
  a[href*="//facebook.com/"],
  a[href*="//tiktok.com/"] {
    font-size: 0; // ick

    &::before {
      font-size: 1rem;
      font-family: font_awesome_6_brandsregular;
    }
  }

  a[href*="//twitter.com/"]::before {
    content: "\e055"; // square-instagram
  }

  a[href*="//instagram.com/"]::before {
    content: "\e055"; // square-instagram
  }

  a[href*="//linkedin.com/"]::before {
    content: "\f08c"; // linkedin (no square variant)
  }

  a[href*="//facebook.com/"]::before {
    content: "\f082"; // square-facebook
  }

  a[href*="//tiktok.com/"]::before {
    content: "\e07b"; // tiktok (no square variant as of 6.1)
  }
}
