#topnav {
  a[href$=\/login] {
    display: none;
  }
}

// ideal: remove div in sidebar containing remote/in-person toggle
// fallback: just remove the remote/in-person toggle (leaves some empty padding)
div.absolute div.py-5:has( div[x-ref=presence] ),
div.absolute div[x-ref=presence] {
  display: none;
}

div.hero {

  h1 {
    margin-bottom: 0.2em;
  }

  .rounded-lg {
    box-shadow: 0 0 3px !important;
  }

}
